@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #262626;
}

body {
    font-family: "Libre Baskerville", serif;
}

.container {
    padding: 0 1rem;
}

.centered-container {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}