@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #262626;
    --off-white: #e5e7eb;
    --non-black-text: #4b5563;
}

body {
    font-family: "Libre Baskerville", serif;
    margin: 0px;
}

.container {
    padding: 0 1rem;
}

.centered-container {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/* list */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation .link {
    color: white;
}

.navigation ul {
    text-align: right;
}

.nav-brand {
    font-weight: bold;
}

.navigation .active-pill {
    font-weight: bold;
}

/* header */ 
.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
}

.hero .hero-concentrate {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 1rem;
}

.off-white {
    background-color: var(--off-white);
}

/* footer */

.footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 0.5rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer a {
    color: white;
}

.primary-link:hover {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.secondary-link:hover {
    background-color: var(--primary-color);
    color: white;
}

.non-black-text {
    color: var(--non-black-text);
}